# Output folders
**/output/
!image_upscaler/output/
!image_upscaler/resized_output/

# Output files
*_output*
*output.*

# Temp files
*.tmp
*.log
*.bundle
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi
*.mkv
*.mov
*.webm
*.flv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# S&B Extractor
S&B_Extractor/
extractSnB.bat